@model IEnumerable<EventModel>

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EventsCalendar</title>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
	<link rel="stylesheet" href="./css/main.css">
	<script src="./lib/jquery/dist/jquery.js"></script>
</head>

<body>
	<button id="openFormButton">+</button>

	<div id="popupFormContainer">
		<div id="popupForm" style="display: none;">
			<form class="form">
				<button type="button" id="closeFormButton">x</button>
				<input type="hidden" id="eventId">
				<textarea class="input input-text" name="eventName" id="eventName" cols="50" rows="2" placeholder="Название события" minlength="1" maxlength="100"></textarea>
				<textarea class="input input-text" name="eventDescription" id="eventDescription" cols="50" rows="2" placeholder="Описание события" minlength="1" maxlength="100"></textarea>
				<input type="date" id="eventDate" placeholder="Дата" class="input input-date" value="@DateTime.Now.ToString("yyyy-MM-dd")"><br>
				<input type="hidden" id="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
				<input type="hidden" id="category" value="@Category.Work">
				<select class="input input-text" name="eventCategory" id="eventCategory">
					@foreach (var category in Category.Categories)
					{
						<option value="@category">@category</option>
					}
				</select>
				<button class="btn btn-primary" type="button" id="addEvent">Добавить событие</button>
				<button class="btn btn-primary" type="button" id="editEvent" style="display: none;">Изменить событие</button>
				<button class="btn btn-danger" type="button" id="deleteEvent" style="display: none">Удалить событие</button>
			</form>
		</div>
	</div>

	<div id='calendar'></div>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				events: [

		@foreach (var ev in Model)
		{
			var eventDate = @ev.Date.ToString("yyyy-MM-dd") + "T12:00:00";
			var ConvertTitle = @ConvertData.EscapeUnicode(ev.Name);
			var ConvertCategory = @ConvertData.EscapeUnicode(ev.Category);
			var ConvertDescription = @ConvertData.EscapeUnicode(ev.Description);
			<text>{
							id: '@ev.Id',
							title: '@ConvertTitle',
							start: '@eventDate',
							allDay: true,
							extendedProps: {
								category: '@ConvertCategory',
								description: '@ConvertDescription'
							},
							color: '@Category.GetCategoryColor(ev.Category)'
							},</text>
		}
				],
				eventClick: function (info) {
					var event = info.event;

					document.getElementById('eventId').value = event.id;
					document.getElementById('eventName').value = event.title;
					document.getElementById('eventDescription').value = event.extendedProps.description;
					document.getElementById('eventDate').value = event.startStr;
					document.getElementById('eventCategory').value = event.extendedProps.category;

					if (document.getElementById('popupForm').style.display == 'none') {
						document.getElementById('addEvent').style.display = 'none';
						document.getElementById('editEvent').style.display = 'block';
						document.getElementById('deleteEvent').style.display = 'block';
						document.getElementById('popupForm').style.display = 'block';
					}
					else {
						document.getElementById('addEvent').style.display = 'block';
						document.getElementById('editEvent').style.display = 'none';
						document.getElementById('deleteEvent').style.display = 'none';
						document.getElementById('popupForm').style.display = 'none';
					}
				}
			});
			calendar.render();
		});

	</script>

	<script src="./js/main.js"></script>
</body>

</html>